<%= link_to "HOME", root_path%>
<h1>Title:<%= @article.title %></h1>
<h2 id="auth">Author:<%= @article.author %></h2>

<p id="text"><%= @article.body %></p>
<%= image_tag("image.png") %>
<div>
<ul id= "editdist">
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
   method: :delete,
   data: { confirm: "Are you sure?" } %></li>
</ul>
</div>

<h2 id="revs">Reviews:</h2>
<%= render @article.reviews %>


<h2 id="addrev">Add a review:</h2>
<%= render 'reviews/form' %>
